/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    max-width: 300px;
    padding: 5px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #222222;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #b98757;
}

/* HAMBURGER */


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: #222222;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: #233237;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li a {
        color: #f2f2f2;
    }
}

/* HERO */
body {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(../assets/photos/coffee-hero-bg.jpg);
    height: 500px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-color: #D5E0E2;
    background-position: 67% -80%;
    background-size: 1000px;
}

.heroTitle {
    line-height: 2rem;
    padding: 1rem 1rem 0 1rem;
    text-align: left;
    font-size: 2.3rem;
}

.heroText {
    text-align: left;
    padding: 0 2rem 3rem 2rem;
}

.orderBtn{
    background-color: #45230f;
    font-size: 22px;
}

.btnCenter {
    text-align: center;
}


/* ROASTED COFFEE */
.roasted {
    background-image: url(../assets/photos/coffee-beans-bg.jpg);
    background-size: 300%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.roastTitle {
    line-height: 3rem;
    padding: 2rem 4rem 0 4rem;
    text-align: center;
    font-size: 2.3rem;
}

.roastText {
    text-align: left;
    padding: 2rem 3rem 3rem 3rem;
}

/* LOCATION */
.location {
    background-color: #233237;
    display: flex;
    flex-direction: column;
    height: 1300px;
}

.locationTitle{
    line-height: 3rem;
    padding: 2rem 4rem 0 4rem;
    text-align: center;
    font-size: 2.3rem;
}

.about {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0 0 2rem 0;
}

.frame {
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.hoursTitle {
    line-height: 3rem;
    padding: 2rem 4rem 0 4rem;
    text-align: center;
    font-size: 2.3rem;
}

.hoursText {
    text-align: center;
    margin: 0;
    padding: 0 2.5rem 2rem 2.5rem;
}

.hours {
    text-align: center;
}

.hours ul {
    display: inline-block;
    list-style: none;
    padding: 2rem 2rem 2rem;
    margin: 0;
    line-height: 2rem;
    text-align: left;
}

/* MENU */
.menuTitle {
    line-height: 3rem;
    padding: 5rem 0 2rem 0;
    margin: 0;
    text-align: center;
    font-size: 2.3rem;
    color: #233237;
}

.menuDesc {
    margin: -1.5rem 1rem 1rem 1rem;
}

.menuItem {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
}

/* COFFEE */


/* NEWSLETTER*/
.news {
    background-color: #074940;
    display: flex;
    flex-direction: column;
}

.newsTitle {
    line-height: 4rem;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.newsText {
    text-align: center;
    margin: 0;
    padding: 0 2.5rem 2rem 2.5rem;
}

.signUp {
    padding: 2rem 2rem 0 2rem;
    text-align: left;
}

.signInput {
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border-color: gray;
    border-width: 3px;
}

.inputDiv {
    text-align: center;
    margin: 0 0 4rem 0;
}

.joinBtn {
    background-color: #b98757;
    font-size: 22px;
    height: 60px;
    width: 240px;
    margin: 0 0 5rem 0;
}

/* FOOTER */
.footer {
    background-color: #233237;
    display: flex;
    flex-direction: column;
}

.footerTitle {
    line-height: 3rem;
    font-size: 1.8rem;
    margin-left: 2rem;
}

.footerUl {
    list-style: none;
    text-align: left;
}

.footerText {
    margin: 0 2rem 2rem 2rem;
}

.socialUl {
    list-style-type: none;
    padding: 0;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social {
    width: 40px;
}

/* TRANFORMATION */
.btn {
    cursor: pointer;
    border: 0;
    padding: 15px 40px;
    line-height: 1.4;
    border-radius: 10px;
}



/* FONTS */

@font-face {
    font-family: quantico;
    src: url(../assets/fonts/Quantico/Quantico-Bold.ttf);
}

@font-face {
    font-family: sans;
    src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

.quantico {
    font-family: quantico;
}

.sans {
    font-family: sans;
}

.brown {
    color: #45230f;
}

.white {
    color: #f2f2f2;
}

.black {
    color: #222222;
}

.capslock {
    text-transform: uppercase;
}
